<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>664306093049-taeeklono5kpl1tapr31ja7893rnrmag.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.664306093049-taeeklono5kpl1tapr31ja7893rnrmag</string>
	<key>API_KEY</key>
	<string>AIzaSyDSZppi2pabqDyIIkkGfpPPmN5_I-_Gdoo</string>
	<key>GCM_SENDER_ID</key>
	<string>664306093049</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ivtech.hala</string>
	<key>PROJECT_ID</key>
	<string>x4v4-31031</string>
	<key>STORAGE_BUCKET</key>
	<string>x4v4-31031.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:664306093049:ios:4b078baf4eaef3b19b8b28</string>
</dict>
</plist>